.footer-bg {
    background-image: url('./public/Imagem_rodape.svg'); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white; /* Cor do texto no rodapé */
    padding: 100px 70px;
}