
.Wrapper {
    height: 132px;
    width: 100%;
    background: url(./../../public/images/Header.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
    box-sizing: border-box;
}

.CCWrapper {
    padding-bottom: 24px;
}

.botao {
    border: none;
    background: transparent;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}